//- Sidebar Navigation
aside(class="w-20 lg:w-72 fixed h-screen border-r border-white/10 bg-background-dark flex flex-col p-4 lg:p-6 z-50 transition-all duration-300")
    //- Logo Section
    div(class="flex items-center justify-center lg:justify-start gap-3 mb-12")
        div(class="size-10  flex items-center justify-center rounded shrink-0")
            img(src="/img/logos/isotipo.png", alt="", srcset="")
        div(class="hidden lg:block")
            h1(class="text-white text-xl font-bold tracking-tighter uppercase leading-none") RITMA
            p(class="text-primary/60 text-[10px] uppercase tracking-widest font-bold") #{process.env.APP_VERSION}
            
    //- Nav Section
    nav(class="space-y-2")
        each item in [{i:'dashboard', t:'Panel Principal', h:'./dash', a:true}, {i:'frame_person', t:'Usuarios y Peticiones', h:'./users'}, {i:'cloud_download', t:'Descargas', h:' ./downloads'}, {i:'credit_card_heart',t:'Créditos', h:'./creditos'}, {i:'cloud_upload', t:'Upload Multimedia', h:'/multimedia'}]
            
            a(class=`flex items-center justify-center lg:justify-start gap-3 px-4 py-3 rounded-lg transition-all ${item.a ? 'bg-primary/10 text-primary border border-primary/20' : 'text-white/60 hover:text-white hover:bg-white/5'}` href=item.h title=item.t)
                span(class="material-symbols-outlined text-xl") #{item.i}
                //- El texto se esconde en móvil y aparece en LG
                h4(class="text-sm font-medium hidden lg:block whitespace-nowrap") #{item.t}

    //- Footer / Logout
    div(class="mt-auto pt-6 border-t border-white/10")               
        div(class="flex flex-col items-center lg:items-stretch")
            form(action="../logout" method="POST" class="w-full")
                input(type="hidden" name="_csrf" value=csrfToken) 
                //- Mixin adaptado para que el botón también sea responsivo
                div(class="hidden lg:block")
                    +btnSubmit("close", "close", "Cerrar Sesión", 'exit_to_app')
                //- Icono de logout solo para móvil
                button(type="submit" class="lg:hidden text-white/60 hover:text-primary transition-colors")
                    span(class="material-symbols-outlined") exit_to_app