footer(
  class="p-10 border-t border-white/5 bg-black/50 backdrop-blur-sm"
)
  div(
    class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-8"
  )

    div(
      class="flex items-center gap-3 opacity-50"
    )
      span(
        class="material-symbols-outlined text-xl"
      ) bolt

      span(
        class="font-heading font-black italic tracking-tighter"
      ) RITMA

    div(
      class="flex gap-10 text-[10px] font-bold tracking-[0.3em] text-white/40 uppercase"
    )
      span(
        class="flex items-center gap-2"
      )
        span(
          class="size-1.5 bg-primary rounded-full"
        )
        | SYSTEM_LIVE

      span DESARROLLADO POR CODREAM
      span © 2026

    div(
      class="flex gap-4"
    )
      div(
        class="size-8 rounded bg-white/5 flex items-center justify-center hover:bg-primary/20 transition-colors cursor-pointer"
      )
        span(
          class="material-symbols-outlined text-sm"
        ) share

      div(
        class="size-8 rounded bg-white/5 flex items-center justify-center hover:bg-primary/20 transition-colors cursor-pointer"
      )
        span(
          class="material-symbols-outlined text-sm"
        ) mail
